html , body{
    background-color: #10152c;
    color: white;
    font-family: raleway;
}

div.app{
    height: 100vh !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.timer-component{
    font-size: 1.5rem;
}

div.dashboard-component{
    min-width: 30%;
    border: 3px solid rgb(196, 196, 196);
    border-radius: 20px;
    background-color: #1b2138;

    div.box-header{
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    div.question{
        font-weight: bold;
    }
}